VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_PRIORITY_MODEL_URL=

# Map Tile Configuration & Provider API Keys
VITE_MAP_API_KEY=
VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPTILER_API_KEY=
VITE_STADIA_API_KEY=
VITE_MAP_TILE_URL=
